@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-lighter: #ffdb0d;
  --primary-light: #e8b10c;
  --primary-main: #ffa500;
  --primary-dark: #e8810c;
  --primary-darker: #ff6b0d;

  --secondary-lighter: #a6a6a6;
  --secondary-light: #8c8c8c;
  --secondary-main: #737373;
  --secondary-dark: #595959;
  --secondary-darker: #404040;

  --white: #ffffff;
  --background: #404040;
}

body {
  color: var(--white);
  background: var(--background);
}
